body {
    padding: 10px;
    background-color: gainsboro;
    color: brown;
}


.textFieldWidth{
    width: 35% !important;
}
.listingDetails
{
    margin: 20px;
}
li
{
    list-style-type: none;
}

.ListingDescriptions
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.MediumMargin
{
    margin: 20px;
}

.listingImages
{
    width: 400px;
    margin: 20px;
    border-radius: 6%;
}
.listingImagesBig
{
    width: 700px;
    position: relative;
}
ul
{
    position: relative;
}
small{
    margin-bottom: 30px;
}

select
{
    margin-bottom: 30px;
}