<div style="height: fit-content; display: block; height: 60px">
    <h2 style="float: left">{{ header }}</h2>
    <div style="float: right">
        Total Items: {{ objectForLoop|length }}
    </div>
</div>

<div style="text-align: center">
    <div style="width: 80%; margin: 0 auto" id="postsContainer">
        {% for listing in objectForLoop %}
        <div>
            <a href="{% url 'viewlistingAndUpdateInfo' listing.id %}">
                <img style="position: relative; z-index: 2;"src="{{ listing.imgURL }}" class="listingImages">
            </a>
            
            <span style="position: relative; z-index: 1">
                <h3>Categories: </h3>
                <br>
                <ul>
                    {% for category in listing.categories.all %}
                        <a href="{% url 'categoryItems' category.categoryName %}">
                            <li>{{ category }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </span>
            
        </div>
        <div class="listingDetails">
            {{ listing.listingItemName }}<br>
            <small>Posted by {{ listing.owner }} on {{ listing.listingDate }}</small>
            <br>
            <small>Current Bid: ${{ listing.currentBid }}</small>
            <br>
            <div class="ListingDescriptions">
                <h3>Description</h3>
                <br>
                <p>
                    {{ listing.listingDescription }}
                </p>
                {% if user.is_authenticated %}
                    <form>
                        {% if not listing in request.user.watchlist.all %}
                            <input type="button"class="btn btn-primary" value="Add to Watchlist"onclick="changeButtonAPI('{{ listing.id }}', this)"/>
                        {% else %}
                            <input type="button"class="btn btn-primary" value="Remove from Watchlist"onclick="changeButtonAPI('{{ listing.id }}', this)"/>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>

        <br>
        <hr>
        {% empty %}
            {{ emptyMessage }}
        {% endfor %}
        <div id="root">

        </div>

        {% if not empty %}
        <div style="text-align: center">
            End of list || <span style="cursor:pointer; color: blue"onclick="scrollToTop()">Go back to top</span>
        </div>
        {% endif %}
    </div>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script type="text/babel">
        var  loadMoreListingsIsRunning = false;

        window.onscroll = () =>
        {
            if (window.innerWidth + window.scrollY >= document.body.offsetHeight)
            {
                if(!loadMoreListingsIsRunning)
                {
                    window.Concat.loadMoreListings();
                }
                
            }
        }
        function scrollToTop()
        {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        function changeButtonAPI(listingID, clickedButton)
        {
            
            fetch('/watchlistAddRemove',
            {
                method: "PUT",
                body: JSON.stringify
                ({
                    operation: clickedButton.value,
                    listingID: listingID
                })
            })
            .then(response => response.json())
            .then(result => 
            {
                clickedButton.value = result.newButtonText;
            });
            
        }
        //this class takes carre of concatenating the post
        class Concat extends React.Component 
        {
            constructor(props)
            {
                super(props);
                //bind this to window
                window.Concat = this;
                this.state = {
                    //continue counting from 5 where 4 is the last post in index by default
                    counter: 5,
                    //how much should be loaded each time
                    quantity: 5,
                    newPostIndex: 0,
                    posts: []
                }
            }
            render() 
            {
                return (
                    <div>
                        {this.state.posts.map(post => {
                            //render out the entire page somehow

                        })}
                    </div>
                );
            }

            loadMoreListings = () => {
                
                loadMoreListingsIsRunning = true;
                const start = this.state.counter - 1;
                const end = start + this.state.quantity;
                this.setState({counter: end + 1});
                fetch(`/loadListings?start=${start}&end=${end}`)
                .then(response => response.json())
                .then(result => {
                    result.listings.forEach((listing)=>
                    {
                        this.setState(state => ({
                            posts: [...state.posts, listing]
                        }));  
                    })

                    setTimeout(()=>{
                        loadMoreListingsIsRunning = false;
                        //console log value for reference
                        console.log(this.state.posts);
                    }, 1000);
                });
                
            }
            
        }

        ReactDOM.render(
            <Concat />,
            document.getElementById('root')
        );
            
    </script>
</div>






